green==2.5.1
ipython==5.0.0
# install from master until version 0.4.4 is out
git+https://github.com/python/mypy.git
typed_ast==0.5.5
opentracing
basictracer==2.1.0
aioredis==0.2.8
asynqp==0.5.1
aiozk>=0.1.0
